@model IEnumerable<Common.Models.OrderShowModel>
@{
    ViewBag.Title = "SendBooks";
}

@foreach (var item in Model)
{
    <div>
        <div>@item.UserName</div><div>@item.Name</div>
    </div>
}
<h2>SendBooks</h2>

