
@{
                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/main.js"></script>
<link href="~/Content/main.css" rel="stylesheet" />
<body>
    <div style="position: relative; height: 250px;">
        <div class="header" style="position:relative; top:50px; width:50%; left:25%">
            <a href="/Admin/WillApprove" style="color:whitesmoke" class="p-1">
                <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:indianred">
                    Onay Bekleyen Kitaplar
                </button>
            </a>
            <a href="/Admin/Approved" style="color:whitesmoke"  class="p-1">
                <button type="button" class="btn btn-secondary btn-lg btn-block" style="background-color:limegreen">
                    Onaylanmis Kitaplar
                </button>
            </a>
            <a href="/Admin/Stats" style="color:whitesmoke"  class="p-1">
                <button type="button" class="btn btn-secondary btn-lg btn-block" style="background-color:darkblue">
                    Istatistikler
                </button>
            </a>
        </div>
    </div>
</body>



