@{
    ViewBag.Title = "About";
}


<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>HOW IT WORKS</h2>
            <hr>
        </div>
        <div class="row d-flex justify-content-between">

            <div class="card" style="width:250px">
                <img class="card-img-top" src="~/images/about1.jpg" >
        
            </div>


            <div class="card" style="width:250px">
                <img class="card-img-top" src="~/images/about2.jpg" >
         
            </div>


            <div class="card" style="width:250px">
                <img class="card-img-top" src="~/images/about3.jpg" >
      
            </div>


            <div class="card" style="width:250px">
                <img class="card-img-top" src="~/images/about4.jpg" >
    
            </div>



        </div>

    </div>
</section>

