@*@model IEnumerable<Common.Domains.Product>*@
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/main.js"></script>
<link href="~/Content/main.css" rel="stylesheet" />


<hr />
<div id="favSlider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="card-deck">
                    @for (int j = 0; j < 6; j++)
                    {
                        <div class="card p-3" style="width: 12rem;">
                            <img class="card-img-top" style="width:100%;  height: auto;" src="https://images.gr-assets.com/books/1327543267m/1004827.jpg" alt="Card image cap">
                        </div>
                    }
                </div>

            </div>
            <div class="carousel-item">
                <div class="card-deck">
                    @for (int j = 0; j < 6; j++)
                    {
                        <div class="card p-3" style="width: 12rem;">
                            <img class="card-img-top" style="width:100%;  height: auto;" src="https://images.gr-assets.com/books/1327543267m/1004827.jpg" alt="Card image cap">
                        </div>
                    }
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


<hr />


<div class="index">

    <div class="sidebar">
        <div class="card">
            <article class="card-group-item">
                <header class="card-header"><h6 class="title">Filters</h6></header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-secondary round">142</span> </a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-secondary round">3</span>  </a>
                        <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-secondary round">32</span>  </a>
                        <a href="#" class="list-group-item">Another item <span class="float-right badge badge-secondary round">12</span>  </a>
                    </div>  <!-- list-group .// -->
                </div>
            </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
    </div><!-- sidebar.// -->

    <div class="index-title"><h2>All Books</h2></div>
    <div class="products">
        <div class="card-deck">
            @for (int i = 0; i < 2; i++)
            {

                <div class="row">
                    @for (int j = 0; j < 5; j++)
                    {

                        <div class="card" style="width: 8rem;">
                            <img class="card-img-top" src="~/images/lotr.jpg" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">Lord of the Rings</h5>
                            </div>
                        </div>

                        @*<div class="col-sm-2">
                                <div class="col-item">
                                    <div class="card" style="width: 8rem;">
                                        <div class="photo">
                                            <img src="~/images/lotr.jpg" class="card-img-top" alt="..." />
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    }
                </div> <!-- row.// -->
            }
        </div> <!-- card.// -->
    </div>
</div>


