<style>

    th {
        background-color: black;
        color: white;
    }
</style>

<div class="card">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" width="55%"> <font style="vertical-align: inherit;">Kitap Adı</font></th>
                <th scope="col" width="45%"><font style="vertical-align: inherit;">Tarih</font></th>


            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap"><img src="images/items/3.jpg" class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body">
                            <h6 class="title text-truncate">Kitap Adı yazılacak. </h6>


                        </figcaption>
                    </figure>
                </td>

                <td class="text-right">

                    <a href="" class="btn btn-outline-danger btn-round">İncele</a>
                </td>
            </tr>


            <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap"><img src="images/items/3.jpg" class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body">
                            <h6 class="title text-truncate">Kitap Adı yazılacak. </h6>


                        </figcaption>
                    </figure>
                </td>


                <td class="text-right">

                    <a href="" class="btn btn-outline-danger btn-round">İncele</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> <!-- card.// -->
