
@{
    ViewBag.Title = "Details";
}

<style>

    body {
        font-family: 'Open Sans', sans-serif;
    }

   h2, h3 {
        font-family: 'Roboto Condensed', sans-serif;
    }
        .recommendedBooksContianer img{
            padding-bottom:10px;
        }

    .genres-list {
        list-style: none;
        padding: 0px;
    }

    .genres-list li{
        padding-right:5px;
        float:left;
    }

    </style>

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">

    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="d-flex flex-column align-items-center">
                        <img style="width:221px; height:325px" />
                    </div>
                </div>
                <div class="col-7 p-0 pl-3 ">
                    <div><h2>Name of the Wind</h2></div>
                    <hr />
                    <h5><span class="badge badge-primary">Book Owner: John Doe</span></h5>
                    
                    <h5><span class="badge badge-primary">Author: Patrick Rothfuss</span></h5>
                    <div>
                        <p>
                            Told in Kvothe's own voice, this is the tale of the magically gifted young man who grows to be the most notorious wizard his world has ever seen.<br /><br />

                            The intimate narrative of his childhood in a troupe of traveling players, his years spent as a near-feral orphan in a crime-ridden city, his daringly brazen yet successful bid to enter a legendary school of magic, and his life as a fugitive after the murder of a king form a gripping coming-of-age story unrivaled in recent literature.
                            <br /><br />
                            A high-action story written with a poet's hand, The Name of the Wind is a masterpiece that will transport readers into the body and mind of a wizard.
                        </p>
                    </div>
                    <hr />
                    <div>
                        <h4>Genres</h4>
                        <ul class="genres-list">
                            <li><h5><span class="badge badge-pill badge-danger">Fantasy</span></h5></li>
                            <li><h5><span class="badge badge-pill badge-danger">Fiction</span></h5></li>
                            <li><h5><span class="badge badge-pill badge-danger">Epic Fantasy</span></h5></li>
                            <li><h5><span class="badge badge-pill badge-danger">Magic</span></h5></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <h3>User Notes</h3>
                </div>
                <div>
                    <p>
                        Köpeğim de kitabı okumaya yeltendiğinde oluşan çiğnenme izleri haricinde kitap oldukça okunabilir durumdadır.
                    </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <h3>User Pictures</h3>
                </div>
                <div>
                    <img style="width:87px; height:130px" />
                    <img style="width:87px; height:130px" />
                    <img style="width:87px; height:130px" />
                    <img style="width:87px; height:130px" />
                </div>
            </div>
        </div>
        <div class="col-3 pr-0">
            <div class="d-flex align-items-center flex-column recommendedBooksContianer text-center">
                <h5>Recommended</h5>
                <img style="width:87px; height:130px" />
                <img style="width:87px; height:130px" />
                <img style="width:87px; height:130px" />
                <img style="width:87px; height:130px" />
                <img style="width:87px; height:130px" />
            </div>
            @*<div class="d-flex align-content-center flex-column recommendedBooksContianer text-center">
                <h4>Genres</h4>
                <ul class="genres-list">
                    <li><h4><span class="badge badge-pill badge-secondary">Fantasy</span></h4></li>
                    <li><h4><span class="badge badge-pill badge-secondary">Fiction</span></h4></li>
                    <li><h4><span class="badge badge-pill badge-secondary">Epic Fantasy</span></h4></li>
                    <li><h4><span class="badge badge-pill badge-secondary">Magic</span></h4></li>
                </ul>
            </div>*@
        </div>
    </div>