@model IEnumerable<Common.Models.ProductShowModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/styles.css" rel="stylesheet" />

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Home</a>
        <span class="breadcrumb-item active">Products</span>
    </div>
</div>

<div class="recent-book-sec">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <a href="/Product/Details/@item.Id" class="item text-center">
                    <img src=@item.Images alt="img" style="width: 128px; height: 220px;">
                    <h3>@item.Name</h3>
                    @*<h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>*@
                </a>
            </div>
        }

    </div>
    <div class="btn-sec">
        <button class="btn gray-btn">load More books</button>
    </div>
</div>

