@model IEnumerable<Common.Models.ProductShowModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/styles.css" rel="stylesheet" />
<script src="~/Scripts/loadmore.js"></script>

<style>
    .moreitemactions .spinner-border {
        display: none;
    }

    .moreitemactions.inprogress .spinner-border {
        display: inline-block !important;
    }

    .moreitemactions.inprogress button {
        display: none !important;
    }
</style>

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Home</a>
        <span class="breadcrumb-item active">Products</span>
    </div>
</div>

<div class="recent-book-sec">
    <div class="row" id="productarea">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <a href="/Product/Details/@item.Id" class="item text-center">
                    <img src=@item.Images alt="img" style="width: 128px; height: 220px;">
                    <h3>@item.Name</h3>
                    @*<h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>*@
                </a>
            </div>
        }

    </div>

    @*<div style="clear:left;text-align:center;display:block;width:100%;" class="moreitemactions">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <div class="btn-sec">
            <button id="moreproduct" class="btn gray-btn" data-lastid="@Model.Last().Id">load More books</button>
        </div>
    </div>*@


</div>

